#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"PCI IDE bus driver extension\0"
#define ODYSSEY_STR_INTERNAL_NAME	"pciidex\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"pciidex.sys\0"
#include <odyssey/version.rc>
