/* $Id: d3d8.rc 33008 2008-04-17 19:15:43Z greatlrd $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Direct3D\0"
#define ODYSSEY_STR_INTERNAL_NAME	"d3d8\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"d3d8.dll\0"

#include <odyssey/reactx.h>

#include <odyssey/version.rc>
