#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"WMI DC and DP functionality\0"
#define ODYSSEY_STR_INTERNAL_NAME	"wmi\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"wmi.dll\0"
#include <odyssey/version.rc>
