#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"LAN Manager\0"
#define ODYSSEY_STR_INTERNAL_NAME	"ntlanman\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ntlanman.dll\0"
#include <odyssey/version.rc>
