#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Estonian Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdest\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdest.dll\0"
#include <odyssey/version.rc>
