#include <windows.h>
#include <commctrl.h>
#include "resource.h"


#define ODYSSEY_STR_FILE_DESCRIPTION  "Odyssey Event Log Viewer\0"
#define ODYSSEY_STR_INTERNAL_NAME     "eventvwr\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME "eventvwr.exe\0"
#include <odyssey/version.rc>

#include "rsrc.rc"


