#include <windows.h>
#include <commctrl.h>
#include "resource.h"

#define ODYSSEY_STR_FILE_DESCRIPTION  "Odyssey Device Manager\0"
#define ODYSSEY_STR_INTERNAL_NAME     "devmgmt\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME "devmgmt.exe\0"
#include <odyssey/version.rc>

#include "rsrc.rc"
