#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey MARTA Provider\0"
#define ODYSSEY_STR_INTERNAL_NAME	"ntmarta\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ntmarta.dll\0"
#include <odyssey/version.rc>
