/* $Id: ne2000.rc 21473 2006-04-05 16:35:30Z tretiakov $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Novell NE2000 network driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"ne2000\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ne2000.sys\0"
#include <odyssey/version.rc>
