/* $Id: version.rc 52411 2011-06-21 22:15:48Z rharabien $
 *
 * Inspired by Wine file include/wine_common_ver.rc
 * Copyright 2001 Dmitry Timoshkov
 *
 * Most version components are set to reasonable defaults here.
 * If you're including this for a .DLL, #define ODYSSEY_VERSION_DLL before the #include.
 * Other things to #define:
 * ODYSSEY_STR_FILE_DESCRIPTION
 * ODYSSEY_STR_INTERNAL_NAME
 * ODYSSEY_STR_ORIGINAL_FILENAME
 *
 */

#include "winver.h"
#include "version.h"
#include "buildno.h"

/* Define some defaults (shouldn't be overwritten by applications */
#define ODYSSEY_DEFAULT_STR_COMPANY_NAME    "Odyssey Development Team\0"
#define ODYSSEY_DEFAULT_STR_DESCRIPTION     "Odyssey Core Component\0"
#define ODYSSEY_DEFAULT_STR_INTERNAL_NAME   "\0"
#define ODYSSEY_DEFAULT_STR_LEGAL_COPYRIGHT "Copyright 1998-"COPYRIGHT_YEAR" Odyssey Team\0"
#define ODYSSEY_DEFAULT_STR_PRODUCT_NAME    "Odyssey Operating System\0"

/* Set defaults for everything, unless overridden */
#ifndef ODYSSEY_FILEVERSION
#ifdef ODYSSEY_VERSION_DLL
#define ODYSSEY_FILEVERSION ODYSSEY_DLL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#else
#define ODYSSEY_FILEVERSION KERNEL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#endif /* ODYSSEY_VERSION_DLL */
#endif /* ODYSSEY_FILEVERSION */

#ifndef ODYSSEY_PRODUCTVERSION
#define ODYSSEY_PRODUCTVERSION KERNEL_VERSION_MAJOR,KERNEL_VERSION_MINOR,KERNEL_VERSION_PATCH_LEVEL,0
#endif /* ODYSSEY_PRODUCTVERSION */

#ifndef ODYSSEY_FILEFLAGSMASK
#define ODYSSEY_FILEFLAGSMASK 0x3fL
#endif /* ODYSSEY_FILEFLAGSMASK */

#ifndef ODYSSEY_FILEFLAGS
#ifdef _DEBUG
#define ODYSSEY_FILEFLAGS VS_FF_DEBUG
#else
#define ODYSSEY_FILEFLAGS 0x0L
#endif /* _DEBUG */
#endif /* ODYSSEY_FILEFLAGS */

#ifndef ODYSSEY_FILEOS
#define ODYSSEY_FILEOS VOS_NT_WINDOWS32
#endif /* ODYSSEY_FILEOS */

#ifndef ODYSSEY_FILETYPE
#ifdef ODYSSEY_VERSION_DLL
#define ODYSSEY_FILETYPE VFT_DLL
#else
#define ODYSSEY_FILETYPE VFT_APP
#endif /* ODYSSEY_VERSION_DLL */
#endif /* ODYSSEY_FILETYPE */

#ifndef ODYSSEY_FILESUBTYPE
#define ODYSSEY_FILESUBTYPE VFT2_UNKNOWN
#endif /* ODYSSEY_FILESUBTYPE */

#ifndef ODYSSEY_STR_COMPANY_NAME
#define ODYSSEY_STR_COMPANY_NAME ODYSSEY_DEFAULT_STR_COMPANY_NAME
#endif /* ODYSSEY_STR_COMPANY_NAME */

#ifndef ODYSSEY_STR_FILE_DESCRIPTION
#define ODYSSEY_STR_FILE_DESCRIPTION ODYSSEY_DEFAULT_STR_FILE_DESCRIPTION
#endif /* ODYSSEY_STR_FILE_DESCRIPTION */

#ifndef ODYSSEY_STR_FILE_VERSION
#ifdef ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_VERSION ODYSSEY_DLL_VERSION_RC
#else
#define ODYSSEY_STR_FILE_VERSION KERNEL_VERSION_RC
#endif /* ODYSSEY_VERSION_DLL */
#endif /* ODYSSEY_STR_FILE_VERSION */

#ifndef ODYSSEY_STR_INTERNAL_NAME
#define ODYSSEY_STR_INTERNAL_NAME ODYSSEY_DEFAULT_STR_INTERNAL_NAME
#endif /* ODYSSEY_STR_INTERNAL_NAME */

#ifndef ODYSSEY_STR_LEGAL_COPYRIGHT
#define ODYSSEY_STR_LEGAL_COPYRIGHT ODYSSEY_DEFAULT_STR_LEGAL_COPYRIGHT
#endif /* ODYSSEY_STR_LEGAL_COPYRIGHT */

#ifndef ODYSSEY_STR_ORIGINAL_FILENAME
#define ODYSSEY_STR_ORIGINAL_FILENAME "\0"
#endif /* ODYSSEY_STR_ORIGINAL_FILENAME */

#ifndef ODYSSEY_STR_PRODUCT_NAME
#define ODYSSEY_STR_PRODUCT_NAME ODYSSEY_DEFAULT_STR_PRODUCT_NAME
#endif /* ODYSSEY_STR_PRODUCT_NAME */

#ifndef ODYSSEY_STR_PRODUCT_VERSION
#define ODYSSEY_STR_PRODUCT_VERSION KERNEL_VERSION_RC
#endif /* ODYSSEY_STR_PRODUCT_VERSION */

#ifndef ODYSSEY_STR_PRODUCT_BUILD
#define ODYSSEY_STR_PRODUCT_BUILD KERNEL_VERSION_BUILD_RC
#endif /* ODYSSEY_STR_PRODUCT_BUILD */

/* The version resource itself */
VS_VERSION_INFO VERSIONINFO
  FILEVERSION		ODYSSEY_FILEVERSION
  PRODUCTVERSION	ODYSSEY_PRODUCTVERSION
  FILEFLAGSMASK		ODYSSEY_FILEFLAGSMASK
  FILEFLAGS		ODYSSEY_FILEFLAGS
  FILEOS		ODYSSEY_FILEOS
  FILETYPE		ODYSSEY_FILETYPE
  FILESUBTYPE		ODYSSEY_FILESUBTYPE
  BEGIN
    BLOCK "StringFileInfo"
      BEGIN
        BLOCK "040904b0"
          BEGIN
            VALUE "CompanyName",	ODYSSEY_STR_COMPANY_NAME
            VALUE "FileDescription",	ODYSSEY_STR_FILE_DESCRIPTION
            VALUE "FileVersion",	ODYSSEY_STR_FILE_VERSION
            VALUE "InternalName",	ODYSSEY_STR_INTERNAL_NAME
#ifdef ODYSSEY_STR_ORIGINAL_COPYRIGHT
            VALUE "OriginalCopyright",	ODYSSEY_STR_ORIGINAL_COPYRIGHT
#endif /* ODYSSEY_STR_ORIGINAL_COPYRIGHT */
            VALUE "LegalCopyright",	ODYSSEY_STR_LEGAL_COPYRIGHT
            VALUE "OriginalFilename",	ODYSSEY_STR_ORIGINAL_FILENAME
            VALUE "ProductName",	ODYSSEY_STR_PRODUCT_NAME
            VALUE "ProductVersion",	ODYSSEY_STR_PRODUCT_VERSION
#ifdef ODYSSEY_OLESELFREGISTER
	    VALUE "OLESelfRegister",	""
#endif /* ODYSSEY_OLESELFREGISTER */
          END
      END
    BLOCK "VarFileInfo"
      BEGIN
        VALUE "Translation", 0x409, 1200
      END
  END
