#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Power Profile Helper DLL\0"
#define ODYSSEY_STR_INTERNAL_NAME	"powrprof\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"powrprof.dll\0"
#include <odyssey/version.rc>
