/* $Id: kbdclass.rc 21598 2006-04-16 07:11:56Z hpoussin $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Keyboard Device Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"keyboard\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"keyboard.sys\0"
#include <odyssey/version.rc>
