#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey RU Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdru\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdru.dll\0"
#include <odyssey/version.rc>
