#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Hardware Control Panel\0"
#define ODYSSEY_STR_INTERNAL_NAME	"hdwwiz\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"hdwwiz.cpl\0"

#include <odyssey/version.rc>

IDI_CPLICON ICON "resources/applet.ico"
IDI_WARNINGICON ICON "resources/warning.ico"
IDI_SEARCHICON ICON "resources/search.ico"

IDB_WATERMARK BITMAP "resources/watermark.bmp"
IDB_HEADER BITMAP "resources/header.bmp"

#include "rsrc.rc"
