#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Romanian Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdro\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdro.dll\0"
#include <odyssey/version.rc>
