#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey ODBC Control Panel Applet\0"
#define ODYSSEY_STR_INTERNAL_NAME	"odbccp32\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"odbccp32.cpl\0"
#include <odyssey/version.rc>
