#include <windows.h>
#include "resource.h"

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Font Folder\0"
#define ODYSSEY_STR_INTERNAL_NAME	"fontext\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"fontext.dll\0"
#include <odyssey/version.rc>

#include "rsrc.rc"
