/* $Id: ndis.rc 21293 2006-03-11 23:55:37Z jimtabor $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"NDIS Library\0"
#define ODYSSEY_STR_INTERNAL_NAME	"ndis\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ndis.sys\0"
#include <odyssey/version.rc>
