#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"USB Ehci Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"usbehci\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"usbehci.sys\0"
#include <odyssey/version.rc>
