#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"MPU401 KS Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"mpu401_ks\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"mpu401_ks.sys\0"
#include <odyssey/version.rc>
