#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey WDM Audio driver mapper\0"
#define ODYSSEY_STR_INTERNAL_NAME	"wdmaud\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"wdmaud.drv\0"
#include <odyssey/version.rc>
