/* $Id: isapnp.rc 27431 2007-07-06 20:18:43Z fireball $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"ISA Plug And Play Bus Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"isapnp\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"isapnp.sys\0"
#include <odyssey/version.rc>
