#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey United Kingdom Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbduk\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbduk.dll\0"
#include <odyssey/version.rc>
