#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Devanagari - INSCRIPT Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdindev\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdindev.dll\0"
#include <odyssey/version.rc>
