

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"DirectX API Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"dxgapi\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"dxgapi\0"
#include <odyssey/version.rc>
