LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 275, 71
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP
CAPTION "Please wait..."
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT           "", IDC_STATUSLABEL, 4, 52, 265, 12, SS_LEFT | SS_WORDELLIPSIS
    CONTROL         IDB_ODYSSEYLOGO1, IDC_STATIC, WC_STATIC, SS_BITMAP, 0, 0, 275, 44
    CONTROL         IDB_ODYSSEYLOGOBAR, IDC_STATIC, WC_STATIC, SS_BITMAP, 0, 40, 275, 3
}

IDD_NOTICE_DLG DIALOGEX 0, 0, 275, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Welcome to Odyssey"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            21,IDC_STATIC,3,50,21,20
    LTEXT           "Press Ctrl-Alt-Del key to login.",IDC_STATIC,27,50,144,14
    CONTROL         IDB_ODYSSEYLOGO1, IDC_STATIC, WC_STATIC, SS_BITMAP, 0, 0, 275, 44
    CONTROL         IDB_ODYSSEYLOGOBAR, IDC_STATIC, WC_STATIC, SS_BITMAP, 0, 40, 275, 3
    LTEXT           "Ctrl-Alt-Del helps keep your password secure. Click Help for more information.",IDC_STATIC,4,77,250,8
END

IDD_LOGGEDOUT_DLG DIALOGEX 0, 0, 275, 127
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP
CAPTION "Logon"
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL         IDB_ODYSSEYLOGO2, IDC_ROSLOGO, WC_STATIC, SS_BITMAP, 0, 0, 275, 54
    LTEXT           "Username:", IDC_STATIC, 7, 68, 40, 8, SS_LEFT
    EDITTEXT        IDC_USERNAME, 55, 65, 211, 14, ES_AUTOHSCROLL
    LTEXT           "Password:", IDC_STATIC, 7, 86, 42, 8, SS_LEFT
    EDITTEXT        IDC_PASSWORD, 55, 84, 211, 14, ES_AUTOHSCROLL | ES_PASSWORD
    DEFPUSHBUTTON   "OK", IDOK, 88, 107, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 152, 107, 50, 14
    PUSHBUTTON      "Shutdown", IDC_SHUTDOWN, 216, 107, 50, 14
    CONTROL         IDB_ODYSSEYLOGOBAR, IDC_STATIC, WC_STATIC, SS_BITMAP, 0, 50, 275, 3
}

IDD_LOGGEDON_DLG DIALOGEX 0, 0, 275, 162
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Security"
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL         IDB_ODYSSEYLOGO1, IDC_ROSLOGO, WC_STATIC, SS_BITMAP, 0, 0, 275, 44
    LTEXT           "Use the Task Manager to close an application that is not responding.", IDC_STATIC, 7, 108, 267, 8, SS_LEFT
    PUSHBUTTON      "Lock computer", IDC_LOCK, 7, 119, 70, 14
    PUSHBUTTON      "Log off", IDC_LOGOFF, 103, 119, 70, 14
    PUSHBUTTON      "Shutdown", IDC_SHUTDOWN, 197, 119, 70, 14
    PUSHBUTTON      "Task manager", IDC_TASKMGR, 103, 138, 70, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 197, 138, 70, 14
    CONTROL         IDB_ODYSSEYLOGOBAR, IDC_STATIC, WC_STATIC, SS_BITMAP, 0, 40, 275, 3
    GROUPBOX        "Logon Information", IDC_STATIC, 6, 52, 264, 53
    PUSHBUTTON      "Change Password", IDC_BUTTON1, 7, 138, 70, 14
    LTEXT           "%s is logged on as %s", IDC_STATIC, 11, 65, 252, 14, SS_LEFT
    LTEXT           "Logon Date:     %s", IDC_STATIC, 11, 83, 252, 14, SS_LEFT
}

STRINGTABLE
BEGIN
    IDS_LOGGEDOUTSAS "Welcome!"
    IDS_LOCKEDSAS "The computer is currently locked."
    IDS_PRESSCTRLALTDELETE "Press Control+Alt+Delete to Logon."
    IDS_ASKFORUSER "User name: "
    IDS_ASKFORPASSWORD "Password: "
    IDS_FORCELOGOFF "This will log out the current user and lose all unsaved data.  Continue?"
END
