#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"USB Storage Device Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"usbstor\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"usbstor.sys\0"
#include <odyssey/version.rc>
