#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"IMAGEHLP.DLL Debug Library\0"
#define ODYSSEY_STR_INTERNAL_NAME	"imagehlp\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"imagehlp.dll\0"
#include <odyssey/version.rc>
