#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey US IBM Arabic 238_L Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdusa\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdusa.dll\0"
#include <odyssey/version.rc>
