#include <windows.h>
#include "shlobj.h"
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"DirectSound\0"
#define ODYSSEY_STR_INTERNAL_NAME	"dsound.dll\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"dsound.dll\0"
#define ODYSSEY_STR_PRODUCT_VERSION     "5.3.1.904\0"
#define ODYSSEY_STR_FILE_VERSION        "5.3.1.904\0"

#include <odyssey/version.rc>
