#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Serbian (Latin) Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdycl\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdycl.dll\0"
#include <odyssey/version.rc>
