#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"PCI IDE bus driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"pciide\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"pciide.sys\0"
#include <odyssey/version.rc>
