#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"TCP/IP protocol driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"tcpip\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"tcpip.sys\0"
#include <odyssey/version.rc>
