/* 
 * FILE:             base/applications/kbswitch/lang/ro-RO.rc
                     Odyssey Project (http://www.odyssey.org)
 * TRANSLATOR:       Fulea Ștefan (PM on Odyssey Forum at fulea.stefan)
 * CHANGE LOG:       2011-08-21  initial translation
 */
 
LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Preferințe...",  ID_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "I&eșire",         ID_EXIT
    END
END
