#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Ukrainian Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdur\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdur.dll\0"
#include <odyssey/version.rc>
