#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey US Dvorak Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbddv\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbddv.dll\0"
#include <odyssey/version.rc>
