/* $Id$ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Serial mouse device driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"sermouse\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"sermouse.sys\0"
#include <odyssey/version.rc>
