#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Arabic (101) Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbda1\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbda1.dll\0"
#include <odyssey/version.rc>
