#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Ramdisk Class Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME       "ramdisk\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ramdisk.sys\0"
#include <odyssey/version.rc>
