#include <windows.h>
#include "resource.h"

#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Control ACLs Program\0"
#define ODYSSEY_STR_INTERNAL_NAME	"cacls\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"cacls.exe\0"
#include <odyssey/version.rc>

#include "rsrc.rc"

