/* $Id: wmilib.rc 21844 2006-05-07 19:34:23Z fireball $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"WmiLib\0"
#define ODYSSEY_STR_INTERNAL_NAME	"WmiLib\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"wmilib.sys\0"
#include <odyssey/version.rc>
