#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Control Method Battery Miniclass Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	    "cmbatt\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"cmbatt.sys\0"
#include <odyssey/version.rc>
