/* $Id: atapi.rc 26238 2007-04-01 19:25:38Z fireball $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"ATAPI IDE Miniport Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"atapi\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"atapi.sys\0"
#include <odyssey/version.rc>
