#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Battery Class Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"battc\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"battc.sys\0"
#include <odyssey/version.rc>
