/* $Id: serial.rc 22516 2006-06-22 22:14:51Z hpoussin $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Serial Port Device Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"serial\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"serial.sys\0"
#include <odyssey/version.rc>
