#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Filesystem recognizer driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"fs_rec\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"fs_rec.sys\0"
#include <odyssey/version.rc>
