/* $Id: winscard.rc 22413 2006-06-19 12:43:39Z gedmurphy $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey SmartCard API\0"
#define ODYSSEY_STR_INTERNAL_NAME	"winscard\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"winscard.dll\0"
#include <odyssey/version.rc>
