#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey RU (Typewriter) Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdru1\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdru1.dll\0"
#include <odyssey/version.rc>
