
#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"NTFS Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"ntfs\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ntfs.sys\0"
#include <odyssey/version.rc>
