#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"SAM server DLL\0"
#define ODYSSEY_STR_INTERNAL_NAME	"samsrv\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"samsrv.dll\0"
#include <odyssey/version.rc>
