#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"VBE Miniport Device Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"vbemp\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"vbemp.sys\0"
#include <odyssey/version.rc>
