#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Slovak Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdsk\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdsk.dll\0"
#include <odyssey/version.rc>
