#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"DNSAPI.DLL Library\0"
#define ODYSSEY_STR_INTERNAL_NAME	"dnsapi\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"dnsapi.dll\0"
#include <odyssey/version.rc>
