#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey CSR Core Server\0"
#define ODYSSEY_STR_INTERNAL_NAME	"csrsrv\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"csrsrv.dll\0"
#include <odyssey/version.rc>
