#include <windows.h>
#include "resource.h"

#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Logoff Utility\0"
#define ODYSSEY_STR_INTERNAL_NAME	"logoff\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"logoff.exe\0"
#include <odyssey/version.rc>

#include "rsrc.rc"
