#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Latin American Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdla\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdla.dll\0"
#include <odyssey/version.rc>
