#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Kernel Streaming API\0"
#define ODYSSEY_STR_INTERNAL_NAME	"ks\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"ks.sys\0"
#include <odyssey/version.rc>
