#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Advanced W32 Base API\0"
#define ODYSSEY_STR_INTERNAL_NAME	"advapi32\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"advapi32.dll\0"
#include <odyssey/version.rc>
