#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"SCSI Port Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"scsiport\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"scsiport.sys\0"
#include <odyssey/version.rc>
