#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"USB Hub Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"usbhub\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"usbhub.sys\0"
#include <odyssey/version.rc>
