/* $Id: explorer.rc 17951 2005-09-20 19:51:27Z mf $ */

#include "explorer_intres.rc"

#define ODYSSEY_STR_FILE_DESCRIPTION    "Odyssey Explorer\0"
#define ODYSSEY_STR_INTERNAL_NAME       "explorer\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME   "explorer.exe\0"
#include <odyssey/version.rc>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#define IDS_VERSION_STR             5000
#define IDS_EXPLORER_VERSION_STR    5001

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

STRINGTABLE DISCARDABLE
BEGIN
    IDS_VERSION_STR ODYSSEY_STR_PRODUCT_VERSION
    IDS_EXPLORER_VERSION_STR "Odyssey %s Explorer"
END
