#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Thai Pattachote (non-ShiftLock) Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdth3\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdth3.dll\0"
#include <odyssey/version.rc>
