/* $Id: wshtcpip.rc 21805 2006-05-05 15:40:59Z fireball $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Windows Sockets 2 API\0"
#define ODYSSEY_STR_INTERNAL_NAME	"wshtcpip\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"wshtcpip.dll\0"
#include <odyssey/version.rc>
