#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"PORTCLS Port Class Driver API\0"
#define ODYSSEY_STR_INTERNAL_NAME	"portcls\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"portcls.sys\0"
#include <odyssey/version.rc>
