#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Vietnamese Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdvntc\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdvntc.dll\0"
#include <odyssey/version.rc>
