#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Armenian Eastern Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdarme\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdarme.dll\0"
#include <odyssey/version.rc>
