#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Xbox Miniport Device Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"xboxvmp\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"xboxvmp.sys\0"
#include <odyssey/version.rc>
