#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey TCP/IP Services Application\0"
#define ODYSSEY_STR_INTERNAL_NAME	"tcpsvcs\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"tcpsvcs.exe\0"
#define ODYSSEY_STR_ORIGINAL_COPYRIGHT	"Ged Murphy (gedmurphy@gmail.com)\0"
#include <odyssey/version.rc>
