#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Xbox Hardware Abstraction Layer\0"
#define ODYSSEY_STR_INTERNAL_NAME	"halxbox\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"halxbox.dll\0"
#include <odyssey/version.rc>
