#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Swedish Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdsw\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdsw.dll\0"
#include <odyssey/version.rc>
