#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey German Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdgr\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdgr.dll\0"
#include <odyssey/version.rc>
