#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Language Pack\0"
#define ODYSSEY_STR_INTERNAL_NAME	"lpk\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"lpk.dll\0"
#include <odyssey/version.rc>
