#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Remote Access Connection Manager\0"
#define ODYSSEY_STR_INTERNAL_NAME	"rasman\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"rasman.dll\0"
#include <odyssey/version.rc>
