/* $Id: msfs.rc 21716 2006-04-23 08:56:14Z tretiakov $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Mailslot IFS Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"msfs\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"msfs.sys\0"
#include <odyssey/version.rc>
