#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey Macedonian (FYROM) Keyboard Layout\0"
#define ODYSSEY_STR_INTERNAL_NAME	"kbdmac\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"kbdmac.dll\0"
#include <odyssey/version.rc>
