#define ODYSSEY_STR_FILE_DESCRIPTION	"Boot Acceptance Application for Registry\0"
#define ODYSSEY_STR_INTERNAL_NAME	"bootok\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"bootok.exe\0"
#include <odyssey/version.rc>
