/* $Id: afd.rc 21689 2006-04-21 17:45:51Z tretiakov $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Socket Filesystem Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	"afd\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"afd.sys\0"
#include <odyssey/version.rc>
