#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"VGA Miniport Device Driver\0"
#define ODYSSEY_STR_INTERNAL_NAME	    "vga\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"vga.sys\0"
#include <odyssey/version.rc>
