/* $Id: secur32.rc 30251 2007-11-07 22:59:56Z fireball $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Security\0"
#define ODYSSEY_STR_INTERNAL_NAME	"secur32\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"secur32.dll\0"
#include <odyssey/version.rc>
