#define ODYSSEY_STR_FILE_DESCRIPTION    "Odyssey TCP/IPv4 Win32 nslookup\0"
#define ODYSSEY_STR_INTERNAL_NAME       "nslookup\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME   "nslookup.exe\0"
#define ODYSSEY_STR_ORIGINAL_COPYRIGHT  "Lucas Suggs (lucas.suggs@gmail.com)\0"
#include <odyssey/version.rc>
