#include <windows.h>

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"Odyssey RPC server API\0"
#define ODYSSEY_STR_INTERNAL_NAME	"rpcrt4\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"rpcrt4.dll\0"
#include <odyssey/version.rc>
