/* $Id: tdi.rc 21695 2006-04-22 05:22:34Z tretiakov $ */

#define ODYSSEY_VERSION_DLL
#define ODYSSEY_STR_FILE_DESCRIPTION	"TDI wrapper kernel module\0"
#define ODYSSEY_STR_INTERNAL_NAME	"tdi\0"
#define ODYSSEY_STR_ORIGINAL_FILENAME	"tdi.sys\0"
#include <odyssey/version.rc>
